*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "poppins";




}
body{
    background-color: black;
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;




}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;




}


.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;




}


.navbar a:hover,
.navbar a.active {
    color: rgb(255, 174, 0);
}


.home{
    height: 100vh;
    background: url(Sarah.png) no-repeat;
    background: url(sarah.png.png) no-repeat;
    background-size: 450px;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;


}


.home-content{
 max-width: 600px;
}


.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;


}


.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 230, 0);
}


.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;


}


.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;


}


.btn-box a{
    position: relative;
    box-shadow: 0 0 5px rgb(255, 196, 0),
    0 0 25px rgb(255, 196, 0);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(245, 182, 8);
    border: 2px solid rgb(245, 182, 8);
    border-radius: 18px;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 5s;


}


.btn-box a:hover{
    color: #ededed;
}


.btn-box a:nth-child(2){
    background: transparent;
    color: rgb(245, 182, 8);
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ededed;
    z-index: -1;
    transition: .5s;


}


.btn-box a:hover:before{
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('re\ zeroooo.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: rgba(46, 29, 29, 0.8); /* Adicione um fundo sólido por trás para melhorar a legibilidade do conteúdo */
    width: 500px;
    box-shadow: rgba(99, 41, 41, 0.4) 0px 2px 4px, rgba(255, 10, 10, 0.3) 0px 7px 13px -3px, rgba(223, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2 {
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco transparente para os campos de entrada */
}

form input:focus {
    border-radius: 16px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco transparente para os campos de entrada */
}

form textarea:focus {
    border-radius: 16px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

/* Página do Obrigado */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('img/3373345.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}

.text {
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

.paragrafo {
    color: #f5f5f5;
    margin-bottom: 50px;
}

.btn {
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}

.btn:hover {
    border-radius: 16px;
}


